<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/application</property>
    <property name="hibernate.connection.username">arthurfernandes</property>
    <property name="hibernate.connection.password">051192</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <mapping class="br.eb.ime.pfc.domain.User"/>
    <mapping class="br.eb.ime.pfc.domain.AccessLevel"/>
    <mapping class="br.eb.ime.pfc.domain.Layer"/>
    <mapping class="br.eb.ime.pfc.domain.Feature"/>
  </session-factory>
</hibernate-configuration>
