/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2015, 19:23:36
    Author     : arthurfernandes
*/

//body { overflow: hidden; }

.navbar-offset { margin-top: 50px; }
#map { position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; }
#map .ol-zoom { 
    top: auto;
    left: auto;
    bottom: 3.1em;
    right: .5em;
}

.map:-moz-full-screen {
    height: 100%;
    top: 0px;
}
.map:-webkit-full-screen {
    height: 100%;
    top: 0px;
}
.map:-ms-fullscreen {
    top: 0px;
    height: 100%;
}
.map:fullscreen {
    top: 0px;
    height: 100%;
}
.ol-rotate {
  top: 3em;
}
.zoom-top-opened-sidebar { margin-top: 5px; }
.zoom-top-collapsed { margin-top: 45px; }

.mini-submenu{
  display:none;  
  background-color: rgba(255, 255, 255, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;
  text-align: center;
}

.mini-submenu-left {
  position: absolute;
  top: 8px;
  left: .5em;
  z-index: 40;
}

#map { z-index: 35; }

.sidebar { z-index: 45;}

.main-row { position: absolute; top: .3em; width: 100%;}

.mini-submenu:hover{
  cursor: pointer;
}

.slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.scrollable_list{
    overflow: auto;
    overflow-y: scroll;
    max-height: 50%;
    height : 50%;
}

.progress-bar {
    position: absolute;
    display: inline-block;
    z-index: 40 !important;
    bottom: 0;
    left: 0;
    height: 3px;
    background: rgba(0, 196, 131, .6);
    width: 0;
    transition: width 250ms;
    opacity: 1;
    border: white;
    overflow: hidden;
}

.track-location {
    bottom: 7.8em;
    right: .5em;
}

.marker-tooltip + .tooltip > .tooltip-inner{
    color: #808080;
    background-color: white;
    min-width: 150px;
}

.marker-tooltip + .tooltip > .tooltip-arrow { 
    border-top-color: white;
}

#track_location_image {
    height: 20px;
    width: 20px;
}