.clickable{cursor : pointer;}

/*Glyphicons*/
.trash { color:rgb(209, 91, 71); }
.glyphicon-plus-sign {color: #009966}
.add-glyph{font-size : 35px;}

.selected-item{
    background-color: rgba(145,238,176,0.6);
}

.error-highlight{
    border-color: rgb(225,20,20);
}

.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .handler-checkbox { display:inline-block;margin:0px; }
.object-list-div input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}

.list-group { margin-bottom:0px; }
.input-group {margin-bottom:15px;}

body{ 
    background-image: url('resources/img/background3.jpg');
    background-repeat: repeat;
}
body .panel {
    background-color: rgba(255,255,255,0.5);
}

.handler-add-current{
    background-color: rgba(0,170,102,0.9);
    color: #ffffff;
}
.handler-save-current{
    background-color: rgba(15,188,214,0.9);
    color: #ffffff;
}
#message-container{
    right: 30px;
    top: 30px;
    width : 50%;
    position: fixed;
    z-index: 999;
}
#layers-panel{
    margin-top: 8vh;
}
.extensible-panel{
    max-height: 80vh;
}
.handler-object-features-placeholder{
    line-height : 10px;
    height: 100px;
}
.handler-object-features .input-group{
    margin-bottom:7px;
}

.select-all-checkbox{
    margin-bottom: 0px;
    margin-top:0px;
}